{% load static %}
<!DOCTYPE html>
<html>
<head>

<!--Link to style sheet-->

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap" rel="stylesheet">

<!--Title of the page-->
<title>OccasionLocation</title>

<header>
  <!--Container for nav bar-->
  <div class="containerevents">
    <!--Logo-->
    
    <img id="logo" src="{% static 'src/images/logo.png' %}" alt="OccasionLocation" width="300" height="75">
    <nav>
      <ul>
        <!--Nav bar items and the links they will take user to on click-->
        <li class="one"><a href="{% url 'home' %}">Home</a></li>
        <li class="two"><a href="{% url 'about' %}">About</a></li>
        <li class="three"><a href="{% url 'faq' %}">FAQ</a></li>
        <li class="four"><a href="{% url 'list-events' %}">All Events</a></li>
        


        <li class="five">
          


          {% if request.user.is_authenticated %}

          <div class="dropdown">
              <a class="dropbtn">Account
                <i class="fa fa-caret-down"></i>
              </a>
            <div class="dropdown-content">
                <a href="{% url 'add-event' %}">Add Event</a>
                <a href="{% url 'your-events' %}">Your Events</a>
                <a href="{% url 'your-messages' %}">Messages</a>
                <a href="{% url 'settings' %}">Settings</a>
                <a href="{% url 'logout' %}">Logout</a>
            </div>
          </div>


          {% else %}
            <a href="{% url 'login' %}">Sign In</a></li>
          




          {% endif %}
        </li>  
        


        <hr />
      </ul>
    </nav>
    <div class="headline"></div>
  </div>
</header>
</head>

<body>
  
<section> 

  

  

  

  <center>
    
    {% if searched %}
      
      
  <div class="alleventstxt">
    Search Results for <span style="color: #228b22">{{ searched }}</span>
  </div>

      <br/>
      {% for event in events %}

    <div class="alleventsbox">
      <a href="{% url 'show-event' event.id %}"><div class="eventtitle"><u>{{ event.title }}</u></div></a><br/>

      <div class="eventdetails">
      <b> Hosted by: </b> <br/>
      {{ event.host.firstname}} {{event.host.lastname}} <br/>
      <br/>
      <b> Taking place at: </b> <br/>
      {{ event.address}} <br/>
      <br/>
      <b> Town: </b> <br/>
      {{ event.town }} <br/>
      <br/>
      <b> Date: </b> <br/>
      {{ event.date }} <br/>
      <br/>
      
      <a href="{% url 'show-event' event.id %}"><div class="eventdetailslink"><u>More details...</u></div></a><br/>
    
    </div>

  </div>
      
      {% endfor %}

    {% else %}
    <div class="alleventstxt">
       You forgot to input a <span style="color: #228b22">search</span>!
    </div>
    {% endif %}
    


  </center>

  


  







<footer> 
  <!--Text visible in footer-->
  <p id="footertext"> OccasionLocation &copy;</p>
</footer>
</body>
</html>